/* Landing Explore Page  */
.navigation-bar
{
  list-style-type: none;
  margin: 0;
  padding: 0;
  
}
.navigationItem
{
  display: inline;
}

/* About Me  */
/* --------------------------------------------------------------------------------------------Resume------------------------------------------------------------------- */

{
  border:10px solid powderblue;
  margin: 400px;
}

.resumeName,.resumeEmail,.resumeAddress
{
  font-size:10pt;
  margin-top:0;
  margin-bottom:0;
  margin-right:5px;
  margin-left:5px;
}

.resumeSection
{
  font-size:12pt;
  font-weight:bold;
  margin-top:0;
  margin-bottom:0;
  margin-right:5px;
  margin-left:5px;
}

.universities
{
  font-size:12pt;
  font-weight:bold;
  margin-top:0;
  margin-bottom:0;
  margin-right:5px;
  margin-left:5px;
}

.location
{
  font-size:10pt;
  font-weight:bold;
  margin-top:0;
  margin-bottom:0;
  margin-right:5px;
  margin-left:5px;
}

.universityProgram
{
  font-size:11pt;
  font-weight:bold;
  font-style:italic;
  margin-top:0;
  margin-bottom:0;
  margin-right:5px;
  margin-left:5px;
}

.time
{
  font-size:10pt;
  font-style:italic;
  margin-top:0;
  margin-bottom:0;
  margin-right:5px;
  margin-left:5px;
}

.courseworkHeader
{
  font-size:10pt;
  font-weight:bold;
  font-style:italic;
  margin-top:0;
  margin-bottom:0;
  margin-right:5px;
  margin-left:5px;
}

.generalResumeInfo
{
  font-size:10.5pt;
  margin-top:0;
  margin-bottom:0;
  margin-right:5px;
  margin-left:5px;
}

.company
{
  font-size:10pt;
  font-weight:bold;
  margin-top:0;
  margin-bottom:0;
  margin-right:5px;
  margin-left:5px;
}

.position
{
  font-size:10pt;
  font-weight:bold;
  font-style:italic;
  margin-top:0;
  margin-bottom:0;
  margin-right:5px;
  margin-left:5px;
}

.resumeExperience
{
  font-size:11pt;
  margin-top:0;
  margin-bottom:0;
  margin-right:5px;
  margin-left:5px;
}
.clearance
{
  font-size:11pt;
  font-weight:bold;
  margin-top:0;
  margin-bottom:0;
  margin-right:5px;
  margin-left:5px;
}

.sixSigma,.osha10
{
  font-size:11pt;
  font-weight:bold;
  font-style:italic;
  margin-top:0;
  margin-bottom:0;
  margin-right:5px;
  margin-left:5px;
}



/* ------------------------------------------------------------------------------------Education------------------------------------------------------------  */
/* ------------------------------------------------------------------------------------Certifications------------------------------------------------  */
/* ------------------------------------------------------------------------------------Neet'O------------------------------------------------------------------------  */
