/* ------------------General CSS -------------- */

/* CSS for navigation bar */
nav {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* CSS for hiding content */
.hidden {
    display: none;
}


/* About Me  */
/* ---------------------------------------Resume------------------------------------- */



.resumeName,.resumeEmail,.resumeAddress
{
  font-size:10pt;
  margin-top:0;
  margin-bottom:0;
  margin-right:5px;
  margin-left:5px;
}

.resumeSection
{
  font-size:12pt;
  font-weight:bold;
  margin-top:0;
  margin-bottom:0;
  margin-right:5px;
  margin-left:5px;
}

.universities
{
  font-size:12pt;
  font-weight:bold;
  margin-top:0;
  margin-bottom:0;
  margin-right:5px;
  margin-left:5px;
}

.location
{
  font-size:10pt;
  font-weight:bold;
  margin-top:0;
  margin-bottom:0;
  margin-right:5px;
  margin-left:5px;
}

.universityProgram
{
  font-size:11pt;
  font-weight:bold;
  font-style:italic;
  margin-top:0;
  margin-bottom:0;
  margin-right:5px;
  margin-left:5px;
}

.time
{
  font-size:10pt;
  font-style:italic;
  margin-top:0;
  margin-bottom:0;
  margin-right:5px;
  margin-left:5px;
}

.courseworkHeader
{
  font-size:10pt;
  font-weight:bold;
  font-style:italic;
  margin-top:0;
  margin-bottom:0;
  margin-right:5px;
  margin-left:5px;
}

.generalResumeInfo
{
  font-size:10.5pt;
  margin-top:0;
  margin-bottom:0;
  margin-right:5px;
  margin-left:5px;
}

.company
{
  font-size:10pt;
  font-weight:bold;
  margin-top:0;
  margin-bottom:0;
  margin-right:5px;
  margin-left:5px;
}

.position
{
  font-size:10pt;
  font-weight:bold;
  font-style:italic;
  margin-top:0;
  margin-bottom:0;
  margin-right:5px;
  margin-left:5px;
}

.resumeExperience
{
  font-size:11pt;
  margin-top:0;
  margin-bottom:0;
  margin-right:5px;
  margin-left:5px;
}
.clearance
{
  font-size:11pt;
  font-weight:bold;
  margin-top:0;
  margin-bottom:0;
  margin-right:5px;
  margin-left:5px;
}

.sixSigma,.osha10
{
  font-size:11pt;
  font-weight:bold;
  font-style:italic;
  margin-top:0;
  margin-bottom:0;
  margin-right:5px;
  margin-left:5px;
}



/* ------------------------------------------------------------------------------------Education------------------------------------------------------------  */
/* ------------------------------------------------------------------------------------Certifications------------------------------------------------  */
/* ------------------------------------------------------------------------------------Neet'O------------------------------------------------------------------------  */
